@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerRuler{
    margin: auto;
    width: 100%;
    flex-grow: 1;
    border-bottom: 2px solid rgba(108, 107, 107, 0.2);
}
.body{
    position: relative;
    max-width: 100%;
    height: 700px;
}
.container{
    position: relative;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.prepare{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .logo{
    margin-right: 10px;
}
.other>a{
    text-decoration: none;
    color: #000;
}
.other>a:hover{
    border-bottom: 1px solid #000;
}
form{
    position: relative;
    width: 90%;
    height: auto;
    background: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 100px;
    z-index: 3;
    opacity: 0.95;
    margin: 0 auto; 
}
.enter-information{
    display: flex;
    flex-direction: column;
}
.enter-information label{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    text-align: left;
}
.enter-information label sup{
    color: red;
}
.enter-information input{
    width: 100%;
    height: 40px;
    padding: 0px 6px;
    font-size: 13px;
    border: 2px solid #d1d1d1;
    border-radius: 3px;
    outline: none;
}
.enter-information .message{
    padding: 2px 0px 2px 5px;
    font-size: 13px;
    color: red;
}
.button{
    width: 100%;
    padding: 13px 10px;
    font-size: 15px;
    color: #fff;
    background: #0e7d39;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
    transition: all 0.25s;
    text-transform: uppercase;
    border-radius: 3px;
}
.button:hover{
    background: #0e612e;
}
input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

.custom-checkbox::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #4CAF50;
    font-size: 16px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

/* Show the tick when checked */
input[type="checkbox"]:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) scale(1);
}
small{
    font-size: 14px;
    margin-top: 15px;
}
small>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
}