@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 60px;
}
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-logo img{
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}
.menu > li{
    position: relative;
}
.menu > li.items{
    padding: 9px 15px;
}
.menu .items > a,
.dropdown .fa-ellipsis,
.dropdown-content > a{
    color: #444444;
    font-weight: bold;
}
.dropdown .fa-ellipsis{
    font-size: 25px;
}
.fixed-item{
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}
.fixed-item:hover{
    color: rgb(36, 103, 220);
}

/* Định dạng cho các liên kết trong menu */
.menu > li > a, .dropdown-toggle {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover, .dropdown-toggle:hover {
    color: rgb(36, 103, 220);
}

/* Định dạng cho dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 210px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d92eb;
    color: #ffffff;
}

.dropdown.active .dropdown-content {
    display: block;
}

/* Định dạng cho các biểu tượng */
.menu i {
    margin-right: 8px; /* Khoảng cách giữa biểu tượng và văn bản */
}

.dropdown-toggle {
    cursor: pointer;
}
.header-main-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avt{
    margin-right: 10px;
}
.avt > img{
    width: 40px;
}
.phone-number{
    margin-right: 50px;
}
.phone-number .phone1{
    font-size: 20px;
    color: rgb(217, 60, 8);
    font-weight: bold;
}
.search{
    border-left: 1px solid rgb(161, 157, 157);
    padding: 20px;
    
}
.wrapper{
    position: relative;
    width: 100%;
    height: 750px;
}
.slide-show{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.list-images{
    display: flex;
    transition: 0.5s;
}
.list-images img{
    width: 100%;
    height: 70%;
}
.btns{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 30px;
    color: #545151;
    cursor: pointer;
}
.btns:hover{
    color: #fff;
}
.arrow-left{
    left: 10px;
}
.arrow-right{
    right: 10px;
}
.index-images{
    position: absolute;
    bottom: 18%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.index-item{
    border: 2px solid #f1f1f1;
    padding: 3px;
    margin: 3px;
    border-radius: 50%;
}

.index-item.active{
    background-color: #f1f1f1;
}
.filter-search{
    width: 900px;
    height: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.wrapper-filter{
    display: flex;
    flex-direction: column;

}
.filter-menu{
    position: relative;
    width: 100%;
    height: 50px;
}
.list-filter-menu{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    list-style: none;
    margin-left: 20px;
    border-bottom: 1px solid #d4cece; 
}
.list-filter-menu > li{
    margin-right: 20px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #3e3e3e;
    cursor: pointer;
    text-align: center;
}
.list-filter-menu >li.active{
    border-bottom: 5px solid #10c0ed;
    color: #10c0ed;
}
.list-filter-menu > li:hover{
    border-bottom: 5px solid #10c0ed;
    color: #10c0ed;
}

.filter-content{
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px;
    
}
.container{
    display: none;
}
.container.active {
    display: block;
}
/*container1*/
.filter-content-1{
    position: relative;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.content-left{
    position: relative;
    width: 70%;
    height: auto;
}
.content-left-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid #eae4e4;
}
.content-left-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 10px;
}
.departure-point, .arrival-point, 
.departure-date, .arrival-date, 
.passenger, .location{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon{
    font-size: 30px;
    color: #bdb8b8;
    margin-right: 10px;
}
.text1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #777575;
    margin-bottom: 5px;
}
.text2{
    font-size: 15px;
    font-weight: bold;
    color: #565353;
}
.swap{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    color: #777474;
    cursor: pointer;
}
.content-right{
    position: relative;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-right-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.btn-check{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-check{
    position: relative;
    background-color: #d2d2d2;
    width: 55px;
    height: 30px;
    border-radius: 200px;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.2s;
}
.button-check::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 1px;
    transition: all 0.5s;
}
input:checked + .button-check{
    background-color: #10c0ed;
}
input:checked + .button-check::before{
   transform: translateX(26px);
}
input{
    display: none;
}
.find-flights{
    padding: 15px 0;
    background-color: #10c0ed;
    border-radius: 5px;
}
.find-flights > a{
    text-decoration: none;
    font-weight: bold;
    color: #f8f8f8;
    padding: 15px 30px;
}
/*container 2*/
.filter-content-2{
    position: relative;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.left-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.left-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 10px;
}
.find-hotel{
    padding: 15px 0;
    background-color: #10c0ed;
    border-radius: 5px;
}
.btn-findHotel > a{
    text-decoration: none;
    font-weight: bold;
    color: #f8f8f8;
    padding: 15px 30px;
}
/*container 3*/
.filter-content-3{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    margin: 20px;
}
.place, .departure-location{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}
.find-now{
    padding: 15px 0;
    background-color: #10c0ed;
    border-radius: 5px;
}
.btn-findNow > a{
    text-decoration: none;
    font-weight: bold;
    color: #f8f8f8;
    padding: 15px 30px;
}
/*brand*/
.brand{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5%;
    border-bottom: 1px solid #eae4e4;
}
.list-brand{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 30px 20px;
}
.list-brand .journey{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(249, 164, 6);
}
.journey .journey-img{
    width: 70px;
    margin-right: 10px;
}
.journey .journey-text .journey-text-1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(249, 164, 6);
    margin-bottom: 5px;
}
.journey .journey-text .journey-text-2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(249, 164, 6);

}
.list-brand .achievement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.achievement .achievement-content{
    width: calc(33.3% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.achievement-content .achievement-img{
    width: 40px;
    margin-bottom: 10px;
}
/*menu small*/
.menu-small{
    position: relative;
    width: 100%;
    height: auto;
}
.list-menusmall{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 15px 10px;
}
.list-menusmall .menusmall-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% / 7 - 10px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}
.menusmall-items .menusmall-img{
    background: linear-gradient(180deg, #00e5ff 0, #00cafd 70%);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 63px;
    height: 63px;
    padding: 20px;
    
}
.menusmall-items > a > img{
    /* filter: brightness(4); */
}
.menusmall-items .menusmall-text{
    font-weight: bold;
    color: #2b2b2b;
    margin-bottom: 20px;
}
/*hot-promotion*/
.hot-promotion{
    position: relative;
    width: 100%;
   height: auto;
}
.list-hot-promotion{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.hot-promotion .title{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.hot-promotion .title > span{
    color: #0972f3;
    text-transform: uppercase;
    letter-spacing: 0;
}
.hot-promotion .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-promotion .content > a > img{
    width: 95%;
}

/*PARTNER*/
/*AIRLINE-PARTNER*/
.airline-partner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 40px 0;

}
.airline-partner .airline-partner-content{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eae4e4;
    margin: 0 auto;
    padding: 20px 0;
}
.airline-partner-content .airline-partner-left{
    width: 33%;
    height: auto;
}
.airline-partner-left .title{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.airline-partner-content .airline-partner-right{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.airline-partner-content .airline-partner-right > a{
    margin: 10px;
    padding: 3px 5px;
    text-decoration: none;
    border: 1px solid #fff;
}
.airline-partner-content .airline-partner-right > a:hover{
    border: 1px solid rgb(12, 170, 244);
    border-radius: 10px;
}
/*HOTEL-PARTNER*/
.hotel-partner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 40px 0;

}
.hotel-partner .hotel-partner-content{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eae4e4;
    margin: 0 auto;
    padding: 20px 0;

}
.hotel-partner-content .hotel-partner-left{
    width: 33%;
    height: auto;
}
.hotel-partner-left .title{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.hotel-partner-content .hotel-partner-right{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.hotel-partner-content .hotel-partner-right > a{
    margin: 10px;
    padding: 3px 5px;
    text-decoration: none;
    border: 1px solid #fff;
}
.hotel-partner-content .hotel-partner-right > a > img{
    width: 130px;
}
.hotel-partner-content .hotel-partner-right > a:hover{
    border: 1px solid rgb(12, 170, 244);
    border-radius: 10px;
}
/*ABOUT*/
.aboutWeb{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}
.aboutWeb-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.aboutWeb-content .title{
    font-size: 30px;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 30px;
}
.aboutWeb-content > iframe{
    width: 70%;
    height: 500px;
}
/*AWARDS*/
.awards{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #f9f9f9;
}
.awards .awards-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.awards-content .awards-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.list-awards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-awards .awards-item{
    width: calc(100% / 5 - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.awards-item > img{
    width: 100px;
    margin-bottom: 15px;
}
.awards-item .text{
    font-weight: bold;
    font-size: 14px;
}
/*OVERVIEW*/
.overview{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.overview-content{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.list-overview{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eae4e4;
}
.list-overview .overview-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}
.list-overview .overview-items{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.overview-items .item{
    width: calc(100% / 5);
    margin-bottom: 20px;
}
.overview-items .item > a{
    text-decoration: none;
    color: #000000;
}
.overview-items .item > a:hover{
    color: #006eff;
}
/*FOOTER*/
.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #e4760e;
    margin-top: 150px;
}
.footer-container-1{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}
.footer-1{
    width: 100%;
    height: auto;
    display: flex;
}
.footer-left{
    width: 65%;
    height: auto;
    border-right: 1px solid #fff;
    padding: 0 20px;
}
.footer-left .title-1 > img{
    width: 170px;
    margin-bottom: 15px;
}
.footer-left .title-2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
}
.footer-left .title3-cover{
    margin-top: 30px;
}
.footer-left .title-3 .title-3-name{
    font-weight: bold;
    color: #fff;
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.footer-left .title-3 .title-3-text .content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #f8f8f8;
}
.footer-left .title-3 .title-3-text .content > img{
    width: 15px;
}
.footer-left .title-3 .title-3-text .content .text > a{
    text-decoration: none;
    color: #f8f8f8;
    margin-left: 5px;
}
.footer-right{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
}
.footer-right-item > a{
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 2.5;
} 
.footer-container-2{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.footer-2{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}
.footer-2 .footer-2-text{
    text-transform: uppercase;
    color: #fff;
}
.footer .form-promotion{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    display: flex;
    padding: 20px;
    border: 1px solid rgb(245, 149, 6);
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
}
.form-promotion .content{
    display: flex;
    align-items: center;
}
.form-promotion .image > img{
    margin-right: 20px;
}
.form-promotion .text .text-1{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.form-promotion .text .text-1 > span{
    font-size: 28px;
    color: #f36309;
}
/* .input-email{
    position: relative;
    padding: 15px;
    border: 2px solid #efefef;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-left: 40px;
    margin-right: 10px;
    background-color: #f8f8f8;
}

.input-email:focus {
    border-color: #aaaaaa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}
.btn-signin-now{
    background-color: #f0ddbe;
    padding: 15px 0;
    border-radius: 5px;
}
.btn-signin-now > a{
    text-decoration: none;
    color: #e43900;
    padding: 15px 20px;
    font-weight: bold;
} */




