@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 60px;
}
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-logo img{
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}
.menu > li{
    position: relative;
}
.menu > li.items{
    padding: 9px 15px;
}
.menu .items > a,
.dropdown .fa-ellipsis,
.dropdown-content > a{
    color: #444444;
    font-weight: bold;
}
.dropdown .fa-ellipsis{
    font-size: 25px;
}
.fixed-item{
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}
.fixed-item:hover{
    color: rgb(36, 103, 220);
}

.menu > li > a, .dropdown-toggle {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover, .dropdown-toggle:hover {
    color: rgb(36, 103, 220);
}

/* Định dạng cho dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 210px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d92eb;
    color: #ffffff;
}

.dropdown.active .dropdown-content {
    display: block;
}

.menu i {
    margin-right: 8px; 
}

.dropdown-toggle {
    cursor: pointer;
}
.header-main-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avt{
    margin-right: 10px;
}
.avt > img{
    width: 40px;
}
.phone-number{
    margin-right: 50px;
}
.phone-number .phone1{
    font-size: 20px;
    color: rgb(217, 60, 8);
    font-weight: bold;
}
.search{
    border-left: 1px solid rgb(161, 157, 157);
    padding: 20px;
    
}
.wrapper{
    position: relative;
    width: 100%;
    height: 750px;
}
.slide-show{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.list-images{
    display: flex;
    transition: 0.5s;
}
.list-images img{
    width: 100%;
    height: 70%;
}
.btns{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 30px;
    color: #545151;
    cursor: pointer;
}
.btns:hover{
    color: #fff;
}
.arrow-left{
    left: 10px;
}
.arrow-right{
    right: 10px;
}
.index-images{
    position: absolute;
    bottom: 18%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.index-item{
    border: 2px solid #f1f1f1;
    padding: 3px;
    margin: 3px;
    border-radius: 50%;
}

.index-item.active{
    background-color: #f1f1f1;
}
.filter-search{
    width: 900px;
    height: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.wrapper-filter{
    display: flex;
    flex-direction: column;

}
.filter-name{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #d4cece;
    padding: 30px;
    margin-bottom: 20px;
}
.filter-content-3{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    margin: 20px;
    padding-bottom: 20px;
}
.place, .departure-location{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}
.find-now{
    padding: 15px 0;
    background-color: #10c0ed;
    border-radius: 5px;
}
.btn-findNow > a{
    text-decoration: none;
    font-weight: bold;
    color: #f8f8f8;
    padding: 15px 30px;
}
.icon{
    font-size: 30px;
    color: #bdb8b8;
    margin-right: 10px;
}
.text1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #777575;
    margin-bottom: 5px;
}
.text2{
    font-size: 15px;
    font-weight: bold;
    color: #565353;
}
/*brand*/
.brand{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5%;
}
.list-brand{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 30px 20px;
}
.list-brand .journey{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(249, 164, 6);
}
.journey .journey-img{
    width: 70px;
    margin-right: 10px;
}
.journey .journey-text .journey-text-1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(249, 164, 6);
    margin-bottom: 5px;
}
.journey .journey-text .journey-text-2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(249, 164, 6);

}
.list-brand .achievement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.achievement .achievement-content{
    width: calc(33.3% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.achievement-content .achievement-img{
    width: 40px;
    margin-bottom: 10px;
}
/*domestic*/
.domestic{
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    margin-bottom: 40px;
}
.domestic-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}
.domestic-content > a{
    text-decoration: none;
    color: #000;
}
.domestic-item{
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.domestic-item:hover{
    background-color: #ececec;
    color: #fff;
}
.domestic-item .domestic-text{
    font-size: 17px;
    color: #000000;
}
/*hot-promotion*/
.hot-promotion{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.list-hot-promotion{
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.hot-promotion .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content > a{
    min-width: calc(100% / 3) -20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.content > a > img{
    width: 350px;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.content > a:hover > img{
    transform: scale(1.1);
}
/*tour-hot*/
.tour-hot{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tour-hot-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.tour-hot-title{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 20px 0;
}
.tour-hot-text{
    text-align: center;
    margin-bottom: 20px;
}
.tour-hot-container{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.tour-hot-item{
    position: relative;
    width: 380px;
    height: auto;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tour-hot-img > a > img{
    width: 100%;
}
.tour-hot-info{
    padding: 12px;
}
.tour-hot-name{
    margin-bottom: 30px;
}
.tour-hot-name > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #292929;
}
.tour-hot-evaluate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.evaluate1 > a {
    text-decoration: none;
    color: #15bd4a;
    font-weight: bold;
    margin-right: 10px;
}

.evaluate1 > a > span{
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #15bd4a;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
}  
.evaluate2 > a{
    text-decoration: none;
    color: #000;
}
.evaluate2 > a > span{
    margin: 0 5px;
    font-weight: bold;
}
.tour-hot-location{
    display: flex;
    margin-bottom: 20px;
}
.tour-hot-location > i{
    margin-right: 10px;
    font-size: 20px;
    color: #999;
}
.tour-hot-endow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 10px;
    background-color: #ffe8d6;
    border-radius: 20px;
    color: #dd6e1e;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 40px;
}
.endow-2, .endow-3{
    margin-top: 40px;
}
.tour-hot-endow > i{
    margin-right: 10px;
    font-size: 20px;
    color: #dd6e1e;
}
.tour-hot-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-hot-time{
    padding: 10px 15px;
    background-color: #eeeeee;
    border-radius: 5px;
}
.tour-hot-price{
    padding: 10px 0;
}
.tour-hot-price > a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    color: #be0000;
    font-weight: bold;
    border: 2px solid #be0000;
    border-radius: 5px;
}
.tour-hot-price > a:hover{
    color: #fff;
    background-color: #be0000;
}
.hot{
    position: absolute;
    top: 5px;
    right: 5px;
    
}
.hot > img{
    width: 40px;
}
/*discover*/
.discover{
    width: 100%;
    height: auto;

}
.discover-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}
.discover-title{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.discover-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
}
  
.discover-card{
    min-width: 20%;
    margin-right: 30px;
    margin: 12px;
    overflow: hidden;
    border-radius: 40%;
}
.discover-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.discover-text .fl-text1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.discover-text:hover{
    border-bottom: 2px solid #fff;
}
.discover-container > a{
    position: relative;
}
.discover-container > a .discover-card img {
    width: 160px;
    display: block;
    transition: transform 0.3s ease-in-out;
    filter: brightness(70%);
}
.discover-container > a .discover-card:hover img{
    transform: scale(1.1);
}
.btn-seenAll{
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
    
}
.btn-seenAll > a{
    text-decoration: none;
    padding: 10px 20px;
    color: #10c0ed;
    border: 1px solid #10c0ed;
    border-radius: 5px;
}
.btn-seenAll > a:hover{
    color: #fff;
    background-color: #10c0ed;
}
/*awards*/
.awards{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.awards-content{
    width: 85%;
    height: auto;
    margin: 0 auto;
}
.awards-title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.awards-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.awards-item{
    width: 230px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, 
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.awards-item > img{
    width: 110px;
    margin-bottom: 5px;
}
.awards-text{
    font-weight: bold;
    color: #4d4c4c;
}
/*over view*/
.overview{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    
}
.overview-content{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.list-overview{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eae4e4;
}
.list-overview .overview-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}
.list-overview .overview-items{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.overview-items .item{
    width: calc(100% / 4);
    margin-bottom: 20px;
}
.overview-items .item > a{
    text-decoration: none;
    color: #000000;
}
.overview-items .item > a:hover{
    color: #006eff;
}
/*footer*/
.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #e4760e;
    margin-top: 150px;
}
.footer-container-1{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}
.footer-1{
    width: 100%;
    height: auto;
    display: flex;
}
.footer-left{
    width: 65%;
    height: auto;
    border-right: 1px solid #fff;
    padding: 0 20px;
}
.footer-left .title-1 > img{
    width: 170px;
    margin-bottom: 15px;
}
.footer-left .title-2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
}
.footer-left .title3-cover{
    margin-top: 30px;
}
.footer-left .title-3 .title-3-name{
    font-weight: bold;
    color: #fff;
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.footer-left .title-3 .title-3-text .content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #f8f8f8;
}
.footer-left .title-3 .title-3-text .content > img{
    width: 15px;
}
.footer-left .title-3 .title-3-text .content .text > a{
    text-decoration: none;
    color: #f8f8f8;
    margin-left: 5px;
}
.footer-right{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
}
.footer-right-item > a{
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 2.5;
} 
.footer-container-2{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.footer-2{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}
.footer-2 .footer-2-text{
    text-transform: uppercase;
    color: #fff;
}
.footer .form-promotion{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    display: flex;
    padding: 20px;
    border: 1px solid rgb(245, 149, 6);
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
}
.form-promotion .content{
    display: flex;
    align-items: center;
}
.form-promotion .image > img{
    margin-right: 20px;
}
.form-promotion .text .text-1{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.form-promotion .text .text-1 > span{
    font-size: 28px;
    color: #f36309;
}
.input-email{
    position: relative;
    padding: 15px;
    border: 2px solid #efefef;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-left: 40px;
    margin-right: 10px;
    background-color: #f8f8f8;
}

.input-email:focus {
    border-color: #aaaaaa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}
.btn-signin-now{
    background-color: #f0ddbe;
    padding: 15px 0;
    border-radius: 5px;
}
.btn-signin-now > a{
    text-decoration: none;
    color: #e43900;
    padding: 15px 20px;
    font-weight: bold;
}
