@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 60px;
}
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-logo img{
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}
.menu > li{
    position: relative;
}
.menu > li.items{
    padding: 9px 15px;
}
.menu .items > a,
.dropdown .fa-ellipsis,
.dropdown-content > a{
    color: #444444;
    font-weight: bold;
}
.dropdown .fa-ellipsis{
    font-size: 25px;
}
.fixed-item{
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}
.fixed-item:hover{
    color: rgb(36, 103, 220);
}

.menu > li > a, .dropdown-toggle {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover, .dropdown-toggle:hover {
    color: rgb(36, 103, 220);
}

/* Định dạng cho dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 210px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d92eb;
    color: #ffffff;
}

.dropdown.active .dropdown-content {
    display: block;
}

.menu i {
    margin-right: 8px; 
}

.dropdown-toggle {
    cursor: pointer;
}
.header-main-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avt{
    margin-right: 10px;
}
.avt > img{
    width: 40px;
}
.phone-number{
    margin-right: 50px;
}
.phone-number .phone1{
    font-size: 20px;
    color: rgb(217, 60, 8);
    font-weight: bold;
}
.search{
    border-left: 1px solid rgb(161, 157, 157);
    padding: 20px;
    
}
.wrapper{
    position: relative;
    width: 100%;
    height: 750px;
}
.slide-show{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.list-images{
    display: flex;
    transition: 0.5s;
}
.list-images img{
    width: 100%;
    height: 70%;
}
.btns{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 30px;
    color: #545151;
    cursor: pointer;
}
.btns:hover{
    color: #fff;
}
.arrow-left{
    left: 10px;
}
.arrow-right{
    right: 10px;
}
.index-images{
    position: absolute;
    bottom: 18%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.index-item{
    border: 2px solid #f1f1f1;
    padding: 3px;
    margin: 3px;
    border-radius: 50%;
}

.index-item.active{
    background-color: #f1f1f1;
}
.filter-search{
    width: 800px;
    height: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.wrapper-filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 40px;

}
.filter-name{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #d4cece;
    padding: 30px;
    margin-bottom: 20px;
}
.filter-content-3{
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    background-color: #f9f9f9;
}
.place{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.icon{
    font-size: 30px;
    color: #bdb8b8;
    margin-right: 10px;
}
.text1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #777575;
    margin-bottom: 5px;
}
.text2{
    font-size: 15px;
    font-weight: bold;
    color: #565353;
}
.icon-search{
    cursor: pointer;
    font-size: 25px;
    color: #999;
}
/*brand*/
.brand{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5%;
}
.list-brand{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 30px 20px;
}
.list-brand .journey{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(249, 164, 6);
}
.journey .journey-img{
    width: 70px;
    margin-right: 10px;
}
.journey .journey-text .journey-text-1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(249, 164, 6);
    margin-bottom: 5px;
}
.journey .journey-text .journey-text-2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(249, 164, 6);

}
.list-brand .achievement{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
}
.achievement .achievement-content{
    width: calc(33.3% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.achievement-content .achievement-img{
    width: 40px;
    margin-bottom: 10px;
}