@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
header{
    position: relative;
    width: 100%;
    height: 60px;
}
header.sticky{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-logo img{
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}
.menu > li{
    position: relative;
}
.menu > li.items{
    padding: 9px 15px;
}
.menu .items > a,
.dropdown .fa-ellipsis,
.dropdown-content > a{
    color: #444444;
    font-weight: bold;
}
.dropdown .fa-ellipsis{
    font-size: 25px;
}
.fixed-item{
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}
.fixed-item:hover{
    color: rgb(36, 103, 220);
}

.menu > li > a, .dropdown-toggle {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover, .dropdown-toggle:hover {
    color: rgb(36, 103, 220);
}

/* Định dạng cho dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 210px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d92eb;
    color: #ffffff;
}

.dropdown.active .dropdown-content {
    display: block;
}

.menu i {
    margin-right: 8px; 
}

.dropdown-toggle {
    cursor: pointer;
}
.header-main-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avt{
    margin-right: 10px;
}
.avt > img{
    width: 40px;
}
.phone-number{
    margin-right: 50px;
}
.phone-number .phone1{
    font-size: 20px;
    color: rgb(217, 60, 8);
    font-weight: bold;
}
.search{
    border-left: 1px solid rgb(161, 157, 157);
    padding: 20px;
    
}
/*navigation*/
.navigation{
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.navigation-icon > i{
    font-size: 7px;
}
.navigation-left > a,
.navigation-center > a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-right: 7px;
    margin-left: 7px;
}

.navigation-right{
    margin-left: 7px;
    color: #999;
    font-size: 14px;
}

/*slideshow*/
.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.slide-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.slide {
    display: flex;
}

.slide img {
    max-width: 40%;
    height: auto;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
/*introduce*/
.introduce{
    width: 100%;
    height: auto;
}
.introduce-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.introduce-left{
    width: 65%;
    height: auto;
}
.introduce-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.introduce-name > a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-right: 15px;
}
.introduce-star > i{
    color: #ffd500;
    font-size: 10px;
}
.introduce-location{
    display: flex;
    margin-bottom: 20px;
}
.introduce-location > i{
    margin-right: 10px;
    font-size: 20px;
    color: #999;
}
.introduce-menu{
    position: sticky;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}
.introduce-menu > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    margin-right: 50px;
    color: #000;
}
.introduce-menu > a:nth-child(1){
    margin-left: 10%;
}
#introduce-name, #room-review-title {
    scroll-margin-top: 150px;
}
.active{
    border-bottom: 2px solid rgb(227, 92, 14);
}
.introduce-menu > a:hover{
    border-bottom: 2px solid rgb(225, 88, 8);
}
.title-utilities{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 25px;
}
.list-utilities{
    width: 100%;
    height: auto;
    display: flex;
}
.utilities-left{
    width: 90%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.utilities-left.shrink{
    height: auto;
}

.utilities-item{
    display: flex;
    width: calc(100% / 4);
    margin: 10px 10px 20px;
}
.utilities-item > i{
    margin-right: 8px;
}
.utilities-right{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.utilities-right > i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    cursor: pointer;
}
.introduce-right{
    width: 35%;
    height: auto;
}
.introduce-right-card{
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 30px 20px 20px;
}
.introduce-right-above{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 10px;

}
.above-1{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #999;
}
.above-1 .above-1-left{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(30, 164, 0);
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}
.above-1 .above-1-right .right-1{
    color: rgb(34, 178, 2);
    margin-bottom: 4px;
}
.above-1 .above-1-right .right-2 > span{
   font-weight: bold;
}
.above-2{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.above-2-promotion{
    text-decoration: line-through;
}
.above-2-original{
    font-size: 20px;
    font-weight: bold;
    color: rgb(186, 4, 4);
    margin: 20px;
}
.card-endow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #dd6e1e;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}
.card-endow > i{
    margin-right: 10px;
    font-size: 20px;
    color: #dd6e1e;
}
.introduce-right-below{
    text-align: center;
    padding: 15px 30px;
}
.introduce-right-below > a{
    text-decoration: none;
    padding: 15px 70px;
    background-color: #dd6e1e;
    color: #fff;
    border-radius: 5px;

}
/*highlight*/
.highlights{
    width: 100%;
    height: auto;
}
.highlights-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #ffe8d6;
    border-radius: 10px;
    display: flex;
    padding: 20px 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.highlights-name{
    width: 30%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e9680c;
}

.highlight-content-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    letter-spacing: 0.6px;
}
.highlight-content-item > i{
    color: #e9680c;
    margin-right: 6px
}
/*room-review*/
.room-review{
    width: 100%;
    height: auto;
}
.room-review-container{
    width: 65%;
    height: auto;
    margin: 0 auto;
}
.room-review-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}
/*filter/select*/
.picker-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.picker-container > i{
    font-size: 40px;
    color: #999;
    margin-right: 10px;
}
.picker-name{
    text-transform: uppercase;
    color: #999;
}
#departureDateText, #returnDateText,
#guestCount, #numberRoomCount{
    font-weight: bold;
    cursor: pointer;
}
.list-select{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    z-index: 0;
}
.select-container{
    width: 65%;
    height: auto;
    display: flex;
    margin: 0 auto;
}
.box-select{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    
}
.guest-dropdown{
    position: absolute;
    top: 70px;
    left: 45%;
    width: 15%;
    height: auto;
    padding: 20px;
}
.guest-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.guest-item > label{
    font-weight: bold;
    margin-right: 10px;
}
.guest-item button{
    font-size: 16px;
    margin: 5px 4px;
}
.select-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999;
    border-radius: 30px;
}
.counter-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
#childMinus, #adultMinus, #infantMinus{
    background-color: #767676;
}
#childPlus, #adultPlus, #infantPlus{
    background-color: #487cdd;
}
.counter-btn > i{
    color: #fff;
    font-size: 15px;
}
.counter-value{
    font-size: 17px;
    margin: 0 15px;
    font-weight: bold;
}
.room-dropdown{
    position: absolute;
    top: 70px;
    left: 60%;
    width: 6%;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
}

.room-item {
    padding: 3px 10px;
    cursor: pointer;
}

.room-item:hover {
    background-color: #13baf1;
    color: #fff;
}

.counter-btn {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}
.btn-seeRoomRate{
    width: 20%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-seeRoomRate > a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: #fa9c06;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}   

.room-review-item{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.room-review-left{
    width: 30%;
    height: auto;
    margin: 10px 10px 0;
}
.room-review-left > img{
    width: 100%;
    border-radius: 5px;
}
.room-review-center{
    width: 45%;
    height: auto;
    margin-top: 10px;
}
.room-name{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .2px;
    margin-bottom: 10px;
}
.room-detail{
    cursor: pointer;
    color: #1d92eb;
    margin-bottom: 10px;
}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 5px;
}
.overview-item{
    width: calc(50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.overview-item > i{
    font-size: 14px;
    color: #999;
    margin-right: 10px;
}
.overview-item .overview-text{
    font-size: 14px;
}
.give{
    margin-bottom: 10px;
}
.give-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5;
}
.give-item > i{
    margin-right: 7px;
}
.room-review-right{
    min-width: 25%;
    height: auto;
    background-color: #f7f7f7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
}
.buttons-quantity{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.number-room{
    font-weight: bold;
    margin-right: 10px;
    
}
.list-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999;
    border-radius: 30px;
}
.btn-minus, .btn-plus{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.btn-minus > i, .btn-plus > i{
    color: #fff;
    font-size: 15px;
}
.btn-minus{
    background-color: #767676;
}
.btn-plus{
    background-color: #487cdd;
}

.buttons-quantity button {
    font-size: 16px;
    margin: 5px 4px;
}
#quantity {
    font-size: 17px;
    margin: 0 15px;
    font-weight: bold;
}
.total-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.classify{
    display: flex;
    align-items: flex-end;
}
.total-amount .price-promotion{
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 14px;
}
.classify #price, .classify > span{
    font-size: 18px;
    font-weight: bold;
}
.total{
    font-weight: bold;
}
#totalRow > span{
    font-size: 18px;
    color: rgb(182, 24, 24);
}
.classify > span
.classify, .tax, .room-count {
    margin: 6px 0;
}
.btnBookNow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
    background-color: #ffe8d6;
    border-radius: 5px;
    margin-top: 10px;
}
.btnBookNow > a{
    text-decoration: none;
    color: #e9680c;
    padding: 10px 40px;
    font-weight: bold;
}
.btnBookNow > a:hover{
    background-color: #e9680c;
    color: #ececec;
}

.regulations{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.regulations-content{
    width: 65%;
    height: auto;
    margin: 0 auto;
}
.regulations-1, .regulations-2, .regulations-3{
    font-size: 23px;
    font-weight: bold;
    padding-top: 20px;
}
.box-regulation-1, .box-regulation-2, .box-regulation-3{
    border-bottom: 1px dashed black;
    padding: 20px 0;
}
.letter-1, .letter-2, .letter-4, .letter-7,
.letter-8, .letter-9, .letter-10, .letter-13, .letter-14{
    margin-bottom: 10px;
}
.letter-5{
    color: #ba0000;
    font-weight: bold;
}

/*evaluate*/
.evaluate{
    width: 100%;
    height: auto;
}
.evaluate-container{
    width: 65%;
    height: auto;
    margin: 0 auto;
}
.evaluate-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box-evaluate{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #27aa4626;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.evaluate-item-left{
    padding: 20px 25px;
    background-color: #27aa45;
    margin-right: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.evaluate-item-1{
    margin-bottom: 6px;
    color: #27aa45;
    font-weight: bold;
    font-size: 19px;
}
.evaluate-item-2 > span{
    font-weight: bold;
}
/*Q&A*/
.question-answer{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.qa-container{
    width: 65%;
    height: auto;
    margin: 0 auto;
}
.qa-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}
.qa-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qa-container .input-text{
    width: 85%;
    height: auto;
    padding: 15px 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn-askquestion{
    width: 15%;
    height: auto;
}
.btn-askquestion > a{
    text-decoration: none;
    color: #0064b1;
    background-color: #13baf134;
    font-weight: bold;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
}

