@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 60px;
}
header.sticky{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-logo img{
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}
.menu > li{
    position: relative;
}
.menu > li.items{
    padding: 9px 15px;
}
.menu .items > a,
.dropdown .fa-ellipsis,
.dropdown-content > a{
    color: #444444;
    font-weight: bold;
}
.dropdown .fa-ellipsis{
    font-size: 25px;
}
.fixed-item{
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}
.fixed-item:hover{
    color: rgb(36, 103, 220);
}

.menu > li > a, .dropdown-toggle {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover, .dropdown-toggle:hover {
    color: rgb(36, 103, 220);
}

/* Định dạng cho dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 210px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d92eb;
    color: #ffffff;
}

.dropdown.active .dropdown-content {
    display: block;
}

.menu i {
    margin-right: 8px; 
}

.dropdown-toggle {
    cursor: pointer;
}
.header-main-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avt{
    margin-right: 10px;
}
.avt > img{
    width: 40px;
}
.phone-number{
    margin-right: 50px;
}
.phone-number .phone1{
    font-size: 20px;
    color: rgb(217, 60, 8);
    font-weight: bold;
}
.search{
    border-left: 1px solid rgb(161, 157, 157);
    padding: 20px;
    
}
.container-main{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
}
/*navigation*/
.navigation{
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.navigation-icon > i{
    font-size: 7px;
}
.navigation-left > a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-right: 7px;
}
.navigation-right{
    margin-left: 7px;
    color: #999;
    font-size: 14px;
}
.title-main{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
    letter-spacing: .8px;
}
/*filter*/
.content-main{
    position: relative;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.content-main-left{
    position: relative;
    width: 20%;
    height: auto;
    border: 1px solid rgb(14, 102, 226);
}
.filter-title{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(69, 213, 228, 0.1);
}
.filter-icon > i{
    margin-right: 5px;
    color: rgb(22, 109, 209);
}
.filter-name{
    color: rgb(22, 109, 209);
    font-weight: bold;
}
.list-filter{
    display: flex;
    flex-direction: column;
}
.filter-item{
    padding: 25px 15px 5px;
    border-bottom: 1px dashed black;
}
.filter-item h3{
    margin-bottom: 15px;
    font-size: 15px;
}
.filter-item .form > label > input{
    margin-bottom: 20px;
}
.filter-item .form-4{
    height: 380px;
    overflow: hidden;
    transition: height 0.3s ease;
}
.form-4.expanded{
    height: auto;
}
#toggleButton{
    color: rgb(22, 109, 209);
    padding: 10px 0;
    cursor: pointer;
}
#toggleButton:hover{
    color: rgb(11, 117, 239);
    font-weight: bold;
}
.content-main-right{
    width: 77%;
    height: auto;
}
.bestoflike{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.bestoflike .bestoflike-img{
    width: 50px;
    margin-right: 10px;
}
.bestoflike .bestoflike-name{
    font-weight: bold;
}
.arrange{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.arrange-name{
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
}
.arrange-item{
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.active{
    background-color: #fff;
    border: 1px solid #dd800d;
    color: #dd800d;
}
.arrange-item:hover{
    background-color: #fff;
    border: 1px solid #dd800d;
    color: #dd800d;
}

/*card*/
.list-card{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-item{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-item:hover{
    box-shadow: rgba(226, 127, 14, 0.5) 2px 3px 8px;
}
.card-img > a > img{
    width: 97%;
}
.card-info{
    padding: 12px;
}
.card-title{
    display: flex;
}
.card-name{
    margin-bottom: 20px;
    padding-right: 10px;

}
.card-name > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #292929;
}
.card-star > i{
    color: #ffd500;
    font-size: 10px;
    letter-spacing: -3px;
}
.card-location{
    display: flex;
    margin-bottom: 20px;
}
.card-location > i{
    margin-right: 10px;
    font-size: 20px;
    color: #999;
}
.card-evaluate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.evaluate1 > a {
    text-decoration: none;
    color: #15bd4a;
    font-weight: bold;
    margin-right: 10px;
}

.evaluate1 > a > span{
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #15bd4a;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
}  
.evaluate2 > a{
    text-decoration: none;
    color: #000;
}
.evaluate2 > a > span{
    margin: 0 5px;
    font-weight: bold;
}

.card-endow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #dd6e1e;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}
.card-endow > i{
    margin-right: 10px;
    font-size: 20px;
    color: #dd6e1e;
}
.card-convenient{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}
.convenient-text{
    padding: 6px 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.highlights{
    display: flex;
    flex-direction: column;
}
.highlights-title{
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
}
.highlights-name{
    margin-right: 7px;
    font-weight: bold;
}
.highlights-title > i{
    color: #757575;
    transition: transform 0.5s ease;
}
.highlights-title.rotate > i{
    transform: rotate(180deg);
}
.highlights-content{
    height: 0;
    overflow: hidden;
    transition: 2s all;
}
.highlights-content.shrink{
    height: auto;
    transition: 5s all;
}
.highlight-content-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.highlight-content-item > i{
    color: #757575;
    margin-right: 6px
}
.card-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.price-original{
    padding: 15px 5px 20px 20px;
}
.price-original > a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    color: #be0000;
    font-weight: bold;
    border: 2px solid #be0000;
    border-radius: 5px;
}
.price-original > a:hover{
    color: #fff;
    background-color: #be0000;
}
/*footer*/
.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #e4760e;
    margin-top: 150px;
}
.footer-container-1{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}
.footer-1{
    width: 100%;
    height: auto;
    display: flex;
}
.footer-left{
    width: 65%;
    height: auto;
    border-right: 1px solid #fff;
    padding: 0 20px;
}
.footer-left .title-1 > img{
    width: 170px;
    margin-bottom: 15px;
}
.footer-left .title-2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
}
.footer-left .title3-cover{
    margin-top: 30px;
}
.footer-left .title-3 .title-3-name{
    font-weight: bold;
    color: #fff;
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.footer-left .title-3 .title-3-text .content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #f8f8f8;
}
.footer-left .title-3 .title-3-text .content > img{
    width: 15px;
}
.footer-left .title-3 .title-3-text .content .text > a{
    text-decoration: none;
    color: #f8f8f8;
    margin-left: 5px;
}
.footer-right{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
}
.footer-right-item > a{
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 2.5;
} 
.footer-container-2{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.footer-2{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}
.footer-2 .footer-2-text{
    text-transform: uppercase;
    color: #fff;
}
.footer .form-promotion{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    display: flex;
    padding: 20px;
    border: 1px solid rgb(245, 149, 6);
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
}
.form-promotion .content{
    display: flex;
    align-items: center;
}
.form-promotion .image > img{
    margin-right: 20px;
}
.form-promotion .text .text-1{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.form-promotion .text .text-1 > span{
    font-size: 28px;
    color: #f36309;
}
.input-email{
    position: relative;
    padding: 15px;
    border: 2px solid #efefef;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-left: 40px;
    margin-right: 10px;
    background-color: #f8f8f8;
}

.input-email:focus {
    border-color: #aaaaaa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}
.btn-signin-now{
    background-color: #f0ddbe;
    padding: 15px 0;
    border-radius: 5px;
}
.btn-signin-now > a{
    text-decoration: none;
    color: #e43900;
    padding: 15px 20px;
    font-weight: bold;
}