@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 60px;
}
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-logo img{
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}
.menu > li{
    position: relative;
}
.menu > li.items{
    padding: 9px 15px;
}
.menu .items > a,
.dropdown .fa-ellipsis,
.dropdown-content > a{
    color: #444444;
    font-weight: bold;
}
.dropdown .fa-ellipsis{
    font-size: 25px;
}
.fixed-item{
    color: #444444;
    font-weight: bold;
    cursor: pointer;
}
.fixed-item:hover{
    color: rgb(36, 103, 220);
}

/* Định dạng cho các liên kết trong menu */
.menu > li > a, .dropdown-toggle {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover, .dropdown-toggle:hover {
    color: rgb(36, 103, 220);
}

/* Định dạng cho dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 210px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d92eb;
    color: #ffffff;
}

.dropdown.active .dropdown-content {
    display: block;
}

/* Định dạng cho các biểu tượng */
.menu i {
    margin-right: 8px; /* Khoảng cách giữa biểu tượng và văn bản */
}

.dropdown-toggle {
    cursor: pointer;
}
.header-main-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avt{
    margin-right: 10px;
}
.avt > img{
    width: 40px;
}
.phone-number{
    margin-right: 50px;
}
.phone-number .phone1{
    font-size: 20px;
    color: rgb(217, 60, 8);
    font-weight: bold;
}
.search{
    border-left: 1px solid rgb(161, 157, 157);
    padding: 20px;
    
}
/*wrapper*/
.wrapper{
    position: relative;
    width: 100%;
    height: 750px;
}
.slide-show{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.list-images{
    display: flex;
    transition: 0.5s;
}
.list-images img{
    width: 100%;
    height: 70%;
}
.btns{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 30px;
    color: #545151;
    cursor: pointer;
}
.btns:hover{
    color: #fff;
}
.arrow-left{
    left: 10px;
}
.arrow-right{
    right: 10px;
}
.index-images{
    position: absolute;
    bottom: 18%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.index-item{
    border: 2px solid #f1f1f1;
    padding: 3px;
    margin: 3px;
    border-radius: 50%;
}

.index-item.active{
    background-color: #f1f1f1;
}
.filter-search{
    width: 900px;
    height: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.wrapper-filter{
    display: flex;
    flex-direction: column;

}
.filter-name{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #d4cece;
    padding: 30px 20px;
    margin-bottom: 20px;
}
.filter-content-2{
    position: relative;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.content-left{
    position: relative;
    width: 70%;
    height: auto;
} 
.departure-date, .arrival-date, 
.passenger, .location{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon{
    font-size: 30px;
    color: #bdb8b8;
    margin-right: 10px;
}
.text1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #777575;
    margin-bottom: 5px;
}
.text2{
    font-size: 15px;
    font-weight: bold;
    color: #565353;
}
.content-right{
    position: relative;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.left-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 10px;
}
.find-hotel{
    padding: 15px 0;
    background-color: #10c0ed;
    border-radius: 5px;
}
.btn-findHotel > a{
    text-decoration: none;
    font-weight: bold;
    color: #f8f8f8;
    padding: 15px 30px;
}
/*brand*/
.brand{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5%;
    border-bottom: 1px solid #eae4e4;
}
.list-brand{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 30px 20px;
}
.list-brand .journey{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(249, 164, 6);
}
.journey .journey-img{
    width: 70px;
    margin-right: 10px;
}
.journey .journey-text .journey-text-1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(249, 164, 6);
    margin-bottom: 5px;
}
.journey .journey-text .journey-text-2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(249, 164, 6);

}
.list-brand .achievement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.achievement .achievement-content{
    width: calc(33.3% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.achievement-content .achievement-img{
    width: 40px;
    margin-bottom: 10px;
}
/*domestic*/
.domestic{
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}
.domestic-content{
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}
.domestic-content > a{
    text-decoration: none;
}
.domestic-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 45px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.domestic-item > i{
    color: #ec6f09;
    font-size: 23px;
    margin-right: 10px;
}
.domestic-item .domestic-text{
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}
/*explore-topics*/
.explore-topics{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 40px;
}
.explore-topics-content{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.explore-topics-title{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.explore-topics-text{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.explore-topics-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.image-wrapper {
    display: flex;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
    width: calc(25% * 7);
}
  
.image-card {
    min-width: 25%;
    margin-right: 30px;
    margin: 12.5px;
    overflow: hidden;
    border-radius: 10px;
}
.text-absl{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.text-absl:hover{
    border-bottom: 3px solid #fff;
}
.image-wrapper > a{
    position: relative;
}
.image-wrapper > a .image-card img {
    width: 280px;
    display: block;
    transition: transform 0.3s ease-in-out;
    filter: brightness(70%);
}
.image-wrapper > a .image-card::after img{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    pointer-events: none; 
  }
.image-wrapper > a .image-card:hover img{
    transform: scale(1.1);
}
.chevron-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #000;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: unset;
}
.chevron-icon:hover{
    color: #fff;
    background-color: #10c0ed;
}
.left-icon {
    left: 0;
}
  
.right-icon {
    right: 0;
}
/*HOTEL-PARTNER*/
.hotel-partner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 40px 0;

}
.hotel-partner .hotel-partner-content{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eae4e4;
    margin: 0 auto;
    padding: 20px 0;

}
.hotel-partner-content .hotel-partner-left{
    width: 33%;
    height: auto;
}
.hotel-partner-left .title{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.hotel-partner-content .hotel-partner-right{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.hotel-partner-content .hotel-partner-right > a{
    margin: 10px;
    padding: 3px 5px;
    text-decoration: none;
    border: 1px solid #fff;
}
.hotel-partner-content .hotel-partner-right > a > img{
    width: 130px;
}
.hotel-partner-content .hotel-partner-right > a:hover{
    border: 1px solid rgb(12, 170, 244);
    border-radius: 10px;
}
/*Featured Locations-địa điểm nổi bật*/
.featured-locations{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.featured-locations-content{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
}
.featured-locations-left{
    width: 40%;
    height: auto;
}
.featured-locations-title{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.featured-locations-title2{
    margin-bottom: 25px;

}
.featured-locations-btn{
    width: 240px;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: 1px solid rgb(18, 152, 230);
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    transition: 0.5s ease;
}
.featured-locations-btn > a{
    text-decoration: none;
    color: rgb(18, 152, 230);
    padding: 5px 40px;
    font-size: 15px;
    transition: 0.5s ease;
}
.featured-locations-btn:hover{
    background-color: rgb(18, 152, 230);
}
.featured-locations-btn > a:hover{
    color: #fff;
}
.featured-locations-right{
    width: 60%;
    height: auto;
}
.featured-locations-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
}
  
.featured-locations-card{
    min-width: 25%;
    margin-right: 30px;
    margin: 12.5px;
    overflow: hidden;
    border-radius: 30px;
}
.featured-locations-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.featured-locations-text .fl-text1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.featured-locations-text:hover{
    border-bottom: 2px solid #fff;
}
.featured-locations-list > a{
    position: relative;
}
.featured-locations-list > a .featured-locations-card img {
    width: 200px;
    display: block;
    transition: transform 0.3s ease-in-out;
    filter: brightness(70%);
}
.featured-locations-list > a .featured-locations-card:hover img{
    transform: scale(1.1);
}
/*over view*/
.overview{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    
}
.overview-content{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.overview-name{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #999;
}
.list-overview{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eae4e4;
}
.list-overview .overview-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}
.list-overview .overview-items{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.overview-items .item{
    width: calc(100% / 4);
    margin-bottom: 20px;
}
.overview-items .item > a{
    text-decoration: none;
    color: #000000;
}
.overview-items .item > a:hover{
    color: #006eff;
}
/*footer*/
.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #e4760e;
    margin-top: 150px;
}
.footer-container-1{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}
.footer-1{
    width: 100%;
    height: auto;
    display: flex;
}
.footer-left{
    width: 65%;
    height: auto;
    border-right: 1px solid #fff;
    padding: 0 20px;
}
.footer-left .title-1 > img{
    width: 170px;
    margin-bottom: 15px;
}
.footer-left .title-2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
}
.footer-left .title3-cover{
    margin-top: 30px;
}
.footer-left .title-3 .title-3-name{
    font-weight: bold;
    color: #fff;
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.footer-left .title-3 .title-3-text .content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #f8f8f8;
}
.footer-left .title-3 .title-3-text .content > img{
    width: 15px;
}
.footer-left .title-3 .title-3-text .content .text > a{
    text-decoration: none;
    color: #f8f8f8;
    margin-left: 5px;
}
.footer-right{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
}
.footer-right-item > a{
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 2.5;
} 
.footer-container-2{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.footer-2{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}
.footer-2 .footer-2-text{
    text-transform: uppercase;
    color: #fff;
}
.footer .form-promotion{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    display: flex;
    padding: 20px;
    border: 1px solid rgb(245, 149, 6);
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
}
.form-promotion .content{
    display: flex;
    align-items: center;
}
.form-promotion .image > img{
    margin-right: 20px;
}
.form-promotion .text .text-1{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.form-promotion .text .text-1 > span{
    font-size: 28px;
    color: #f36309;
}
.input-email{
    position: relative;
    padding: 15px;
    border: 2px solid #efefef;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-left: 40px;
    margin-right: 10px;
    background-color: #f8f8f8;
}

.input-email:focus {
    border-color: #aaaaaa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}
.btn-signin-now{
    background-color: #f0ddbe;
    padding: 15px 0;
    border-radius: 5px;
}
.btn-signin-now > a{
    text-decoration: none;
    color: #e43900;
    padding: 15px 20px;
    font-weight: bold;
}